<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-item-divider color="success">
        <ion-label>Compras</ion-label>
      </ion-item-divider>
      <ion-col size="12" *ngFor="let compras of getCompras(); index as i">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Carrito {{i+1}}</ion-card-title>
            <ion-card-subtitle>Total del carrito: {{compras.total}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="eliminarCompra(compras)" color="danger"><ion-icon name="trash-outline"></ion-icon>Eliminar compra</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
