<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
      <!-- <ion-button (click)="selectType('Abarrotes')" size="small" style="margin-top: 0; margin-left: 20px;" color="primary">Abarrotes</ion-button>
      <ion-button (click)="selectType('Frutas y verduras')" size="small" style="margin-top: 0;" color="warning">Frutas y verduras</ion-button>
      <ion-button (click)="selectType('Limpieza')" size="small" style="margin-top: 0;" color="danger">Limpieza</ion-button> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- 
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <div *ngFor="let product of products; index as i" style="display:inherit;">
      <ion-col size="6" *ngIf="product.type=== typeProduct && statusType==true">
        <ion-card >
          <img [src]="product.photo">
          <ion-card-header>
            <ion-card-title>{{product.name}} <ion-badge [color]="product.type=='Abarrotes' ? 'primary' :'warning'"> {{product.type}}</ion-badge> </ion-card-title>
            <ion-card-subtitle> {{product.price | currency}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{product.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" *ngIf="statusType===false">
        <ion-card >
          <img [src]="product.photo">
          <ion-card-header>
            <ion-card-title>{{product.name}} <ion-badge [color]="product.type=='Abarrotes' ? 'primary' :'secondary'"> {{product.type}}</ion-badge> </ion-card-title>
            <ion-card-subtitle> {{product.price | currency}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{product.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </div>
    </ion-row>
    </ion-grid>
</ion-content> -->

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-select label="Tipo" [multiple]="true" interface="popover" label-placement="floating" 
         [(ngModel)]="filter"
         (ionChange)="filterProducts()"
        >
          <ion-select-option value="Abarrotes">
            Abarrotes
          </ion-select-option>
          <ion-select-option value="Frutas y verduras">
            Frutas y verduras
          </ion-select-option>
          <ion-select-option value="Limpieza">
            Limpieza
          </ion-select-option>
          <ion-select-option value="Farmacia">
            Farmacia
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let product of productsFounds; index as i">
        <ion-card>
          <img [src]="product.photo+i">
          <ion-card-header>
            <ion-card-title>{{product.name}} <ion-badge [color]="getColor(product.type)"> {{product.type}}</ion-badge> </ion-card-title>
            <ion-card-subtitle> {{product.price | currency}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{product.description}}
            <ion-button (click)="addProducttoCart(product)">+Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-item-divider color="primary">
        <ion-label> Carrito </ion-label>
      </ion-item-divider>
      <ion-col size="12" *ngFor="let product of uniqueProducts">
        <ion-card>
          <!-- <img [src]="product.photo"> -->
          <ion-card-header>
            <ion-card-title>{{countProducttoCart(product) +" "+ product.name}} <ion-badge [color]="getColor(product.type)"> {{product.type}}</ion-badge> </ion-card-title>
            <ion-card-subtitle> {{product.price | currency}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{product.description}}
            <ion-button (click)="deleteProducttoCart(product)" color="danger"><ion-icon name="trash-outline"></ion-icon>Eliminar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-item-divider color="primary">
        <ion-label > Total: {{precio}} </ion-label>
      </ion-item-divider>
    </ion-row>
    </ion-grid>
</ion-content>